@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "MuseoSansCyrl-100";
  src: url('../src/components/fonts//MuseoSansCyrl-100.eot?1519120348');
  src: url('../src/components/fonts/MuseoSansCyrl-100.eot?&1519120348#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-100.woff?1519120347') format('woff'), url('../src/components/fonts/MuseoSansCyrl-100.ttf?1519120347') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-100.svg?1519120349#MuseoSansCyrl-100') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-100Italic";
  src: url('.../src/components/fonts/MuseoSansCyrl-100Italic.eot?1519120352');
  src: url('../src/components/fonts/MuseoSansCyrl-100Italic.eot?&1519120352#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-100Italic.woff?1519120350') format('woff'), url('../src/components/fonts/MuseoSansCyrl-100Italic.ttf?1519120350') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-100Italic.svg?1519120353#MuseoSansCyrl-100Italic') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url('../src/components/fonts/MuseoSansCyrl-300.eot?1519120355');
  src: url('../src/components/fonts/MuseoSansCyrl-300.eot?&1519120355#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-300.woff?1519120353') format('woff'), url('../src/components/fonts/MuseoSansCyrl-300.ttf?1519120354') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-300.svg?1519120356#MuseoSansCyrl-300') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-300Italic";
  src: url('../src/components/fonts/MuseoSansCyrl-300Italic.eot?1519120359');
  src: url('../src/components/fonts/MuseoSansCyrl-300Italic.eot?&1519120359#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-300Italic.woff?1519120357') format('woff'), url('../src/components/fonts/MuseoSansCyrl-300Italic.ttf?1519120358') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-300Italic.svg?1519120360#MuseoSansCyrl-300Italic') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url('../src/components/fonts/MuseoSansCyrl-500.eot?1519120363');
  src: url('../src/components/fonts/MuseoSansCyrl-500.eot?&1519120363#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-500.woff?1519120360') format('woff'), url('../src/components/fonts/MuseoSansCyrl-500.ttf?1519120361') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-500.svg?1519120363#MuseoSansCyrl-500') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-500Italic";
  src: url('../src/components/fonts/MuseoSansCyrl-500Italic.eot?1519120366');
  src: url('../src/components/fonts/MuseoSansCyrl-500Italic.eot?&1519120366#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-500Italic.woff?1519120364') format('woff'), url('../src/components/fonts/MuseoSansCyrl-500Italic.ttf?1519120365') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-500Italic.svg?1519120367#MuseoSansCyrl-500Italic') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url('../src/components/fonts/MuseoSansCyrl-700.eot?1519120369');
  src: url('../src/components/fonts/MuseoSansCyrl-700.eot?&1519120369#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-700.woff?1519120367') format('woff'), url('../src/components/fonts/MuseoSansCyrl-700.ttf?1519120368') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-700.svg?1519120369#MuseoSansCyrl-700') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-700Italic";
  src: url('../src/components/fonts/MuseoSansCyrl-700Italic.eot?1519120372');
  src: url('../src/components/fonts/MuseoSansCyrl-700Italic.eot?&1519120372#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-700Italic.woff?1519120370') format('woff'), url('../src/components/fonts/MuseoSansCyrl-700Italic.ttf?1519120371') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-700Italic.svg?1519120374#MuseoSansCyrl-700Italic') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-900";
  src: url('../src/components/fonts/MuseoSansCyrl-900.eot?1519120376');
  src: url('../src/components/fonts/MuseoSansCyrl-900.eot?&1519120376#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-900.woff?1519120374') format('woff'), url('../src/components/fonts/MuseoSansCyrl-900.ttf?1519120375') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-900.svg?1519120377#MuseoSansCyrl-900') format('svg')
}

@font-face {
  font-family: "MuseoSansCyrl-900Italic";
  src: url('../src/components/fonts/MuseoSansCyrl-900Italic.eot?1519120380');
  src: url('../src/components/fonts/MuseoSansCyrl-900Italic.eot?&1519120380#iefix') format('embedded-opentype'), url('../src/components/fonts/MuseoSansCyrl-900Italic.woff?1519120378') format('woff'), url('../src/components/fonts/MuseoSansCyrl-900Italic.ttf?1519120379') format('truetype'), url('../src/components/fonts/MuseoSansCyrl-900Italic.svg?1519120382#MuseoSansCyrl-900Italic') format('svg')
}
*,*::before,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
    font-family: 'MuseoSansCyrl-500';
}
::-webkit-scrollbar{
  width: 0px;
}
input:-webkit-autofill{
  -webkit-text-fill-color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input{
  caret-color: #fff;
}
.closeDiv{
  display: none !important;
}
.closeDivPorject{
  display: none !important;
}
.openDiv{
  display: block !important;
}
.border-none1{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover{
  box-shadow: none !important;
  background-color: transparent !important;

}
.borderInp{
  border: solid 1px #ffffff;
}
.border-radius-none{
  border-top-left-radius: 0 !important;
  border-top-right-radius:  0 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #AE4D36 !important;
}
.companyBox{
  transform: scaleX(0) scaleY(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  background-color: rgba(204, 103, 160, 0.85);
}
.transform50{
  transform: translateX(-50%) translateY(-50%);
}
.companyItem:is(:hover,:focus) .companyBox{
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
.hoverIcon{
  transition: all .3s linear;
}
.hoverIcon:hover{
  color: #F6C300 !important;
}

.colorHover::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 11px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s linear;
  transform: scaleX(0);
}
.colorHover:hover{
  color: #DCB208 !important;
 
}
.myfilter{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(300%) contrast(101%);
}
#is-sticky{
  position: fixed;
  transition: all 1s ease-in-out;
  padding: 10px !important;
  -webkit-backdrop-filter: saturate(1) blur(20px) !important;
  backdrop-filter: saturate(1) blur(20px) !important;
  background-color: transparent;
}
#is-sticky .languages {
  position: initial;
}

.colorHover:hover::after{
  visibility: visible;
  transform: scaleX(1);
}
.video-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: rgba(2, 54, 71, 0.8);
}
.swiper-button-next,.swiper-button-prev{
  background: #2F5D73 !important;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 20px !important;
  font-weight: bold;
}
.list:nth-child(2), .list:nth-child(4), .list:nth-child(5), .list:nth-child(7), .list:nth-child(10), .list:nth-child(12), .list:nth-child(13), .list:nth-child(15), .list:nth-child(18), .list:nth-child(20) {
  background: #AE4D36;
}
.list:hover .image .first {
  display: none;
}
.list:hover .image .second {
  display: block;
}

.list2:hover .image .first {
  display: none;
}
.list2:hover .image .second {
  display: block;
}

.transformWorks {
  left: 50%;
  top: -100%;
  transform: translate(-15%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}

.imageWorks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.hoverWorks:hover .imageWorks::before {
  opacity: 1;
}
.hoverWorks:hover .transformWorks {
  top: 50%;
  opacity: 1;
  visibility: visible;
}
.mobilemenu-popup{
  opacity: 0;
  visibility: hidden;
  transition: all .8s cubic-bezier(.77,.2,.05,1);
}

.mobilemenu-popup.show{
    visibility: visible;
    opacity: 1;
}
.Noshow{
  visibility: hidden;
  opacity: 0;
}
.transitionAll{
  animation-name: load912355;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.tra{
  animation-delay: .3s;
}
.trb{
  animation-delay: .6s;
}
@keyframes load912355 {
  0% {
    transform: translateY(50px) scale(1);
  }

  100% {
    transform: translateY(10px) scale(1.8) rotate(360deg);
  }
}
.opacityBtn{
  opacity: .7;
  cursor: no-drop !important;
}
.dBlock{
  display: block;
}
.dBlockNone{
  display: none;
}
@media (min-width: 992px){
  .modal-lg, .modal-xl {
    --bs-modal-width: 1030px;
  }
}
@media screen and (max-width: 992px){
  .modal .modal-dialog {
    --bs-modal-width: var(--bs-modal-width);
    margin-right: 20px;
    margin-left: 20px;
  }
}


@media screen and (max-width:992px) {
  .orderBy{
    order: -1;
  }
  #is-sticky .navMenu{
    flex-direction: row-reverse;
  }
  #is-sticky .languages {
    padding-top: 7px;
  }
  .mobileHeader{
    top: 3.5rem;
  }
}
@media screen and (max-width:767px) {
  .pt-767{
    padding-top: 20px;
  }
  #is-sticky{
    padding: 5px !important;
  }
 
 
}
